.window {
    border: 5px solid #767772;
    border-radius: 7px;

    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
}

/* title bar */

.title-bar {
    position: relative;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    background: linear-gradient(180deg, #000 0%, #000 50%, #686868 100%);
    height: 30px;
    width: calc(100% - 20px);
    /* shoutout css calc property on my momma */

    display: flex;
    flex-direction: row;
    align-items: end;
    padding-bottom: 10px;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.title-bar::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    height: 1px;
    width: 100%;
    background: #fff;
}

.title-bar .title-bar-text {
    color: white;
    font-family: 'Old Standard TT', serif;
}

.title-bar .title-bar-controls {
    display: flex;
    gap: 5px;
    justify-content: end;
    align-items: center;
}

.title-bar-controls button {
    background-color: transparent;
    border: none;

    background-size: cover;
}

.title-bar-controls .close {
    width: 16px;
    height: 16px;
    background-image: url("~/assets/window/close.png");
}

.title-bar-controls .minimize {
    width: 16px;
    height: 5px;
    background-image: url("~/assets/window/minimize.png");
}

.title-bar-controls button:hover {
    filter: brightness(0.8);
}

.title-bar-controls button:active {
    filter: brightness(0.5);
}

/* window content */

.window-background {
    width: 100%;
    height: 100%;

    background: repeating-linear-gradient(0deg,
            #d7d7d7 0px,
            #d7d7d7 6px,
            #9f9f9f 6px,
            #9f9f9f 7px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.window-body {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    width: calc(100% - 20px);
    height: calc(100% - 10px);
    background-color: white;
}

/* resize bars */

.resize-bars {
    position: absolute;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
}

.resize-bar {
    user-select: all;
    pointer-events: all;
    position: absolute;
    z-index: 20;
}

.resize-bar.left {
    cursor: col-resize;
    top: 0;
    height: 100%;
    left: 0;
    width: 3px;
}

.resize-bar.right {
    cursor: col-resize;
    top: 0;
    height: 100%;
    right: 0;
    width: 3px;
}

.resize-bar.top {
    cursor: row-resize;
    top: 0;
    width: 100%;
    left: 0;
    height: 3px;
}

.resize-bar.bottom {
    cursor: row-resize;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 3px;
}

.resize-bar.top-left {
    cursor: nwse-resize;
    width: 4px;
    height: 4px;
    z-index: 30;
    top: 0;
    left: 0;
}

.resize-bar.top-right {
    cursor: nesw-resize;
    width: 4px;
    height: 4px;
    z-index: 30;
    top: 0;
    right: 0;
}

.resize-bar.bottom-left {
    cursor: nesw-resize;
    width: 4px;
    height: 4px;
    z-index: 30;
    bottom: 0;
    left: 0;
}

.resize-bar.bottom-right {
    cursor: nwse-resize;
    width: 4px;
    height: 4px;
    z-index: 30;
    bottom: 0;
    right: 0;
}