* {
    box-sizing:border-box;
}

.window {
    border: 2px solid #797979;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
}

/* title bar */

.title-bar {
    position: relative;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    background: linear-gradient(180deg, #525252 0%, #000000 100%);
    height: 35px;
    width: 100%;
    /* shoutout css calc property on my momma */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

    border-bottom: 2px solid #797979;
}

.title-bar .title-bar-text {
    color: white;
    font-family: 'Old Standard TT', serif;
}

.title-bar .title-bar-controls {
    display: flex;
    gap: 5px;
    justify-content: end;
    align-items: center;
}

.title-bar-controls button {
    background-color: transparent;
    border: none;

    background-size: cover;
}

.title-bar-controls .close {
    width: 16px;
    height: 16px;
    background-image: url("~/assets/window/close.png");
}

.title-bar-controls .minimize {
    width: 16px;
    height: 5px;
    background-image: url("~/assets/window/minimize.png");
}

.title-bar-controls button:hover {
    filter: brightness(0.8);
}

.title-bar-controls button:active {
    filter: brightness(0.5);
}

/* window content */

.window-body {
    width: 100%;
    height: 100%;
    background-color: white;

    overflow: hidden;

    box-shadow: inset 0 0 10px #0000006d;
}

/* resize bars */

.resize-bars {
    position: absolute;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
}

.resize-bar {
    user-select: all;
    pointer-events: all;
    position: absolute;
    z-index: 20;
}

.resize-bar.left {
    cursor: col-resize;
    top: 0;
    height: 100%;
    left: 0;
    width: 3px;
}

.resize-bar.right {
    cursor: col-resize;
    top: 0;
    height: 100%;
    right: 0;
    width: 3px;
}

.resize-bar.top {
    cursor: row-resize;
    top: 0;
    width: 100%;
    left: 0;
    height: 3px;
}

.resize-bar.bottom {
    cursor: row-resize;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 3px;
}

.resize-bar.top-left {
    cursor: nwse-resize;
    width: 4px;
    height: 4px;
    z-index: 30;
    top: 0;
    left: 0;
}

.resize-bar.top-right {
    cursor: nesw-resize;
    width: 4px;
    height: 4px;
    z-index: 30;
    top: 0;
    right: 0;
}

.resize-bar.bottom-left {
    cursor: nesw-resize;
    width: 4px;
    height: 4px;
    z-index: 30;
    bottom: 0;
    left: 0;
}

.resize-bar.bottom-right {
    cursor: nwse-resize;
    width: 4px;
    height: 4px;
    z-index: 30;
    bottom: 0;
    right: 0;
}