@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: 'Alagard';
    src: url('~/assets/fonts/alagard.ttf') format('truetype');
}

@font-face {
    font-family: 'KiwiSoda';
    src: url('~/assets/fonts/KiwiSoda.ttf') format('truetype');
}

@font-face {
    font-family: 'Pixelta';
    src: url('~/assets/fonts/Pixelta.ttf') format('truetype');
}

* {
    font-family: 'Old Standard TT', serif;
}

html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("~/assets/wallpaper/whilst.png");
    background-size: cover;
}

button {
    border: 1px solid C6C6C4;
    border-style: solid;
    border-radius: 5px;
    background: linear-gradient(180deg, #F2F2F2 0%, #EDEDED 41%, #DDDDDD 56%);
    font-family: 'Alagard', serif;
    font-size: 15px;
}

button:hover {
    filter: brightness(0.8);
}

button:active {
    filter: brightness(0.5);
}